<h1>Liste des tâches à réaliser</h1>
<p>Nous sommes le {{date | date: 'dd/MM/yyyy'}}</p>
<ul class="list-group">
  <li class="list-group-item" *ngFor="let todo of todos, let i = index">
    <div [ngClass]="{encours:todo.todoStatus,termine:!todo.todoStatus}">
      <a [href]="todo.image">
        <img [src]="todo.image" alt=""/>
      </a>

      {{todo.todoName | uppercase}}

      <button class="btn btn-primary" [disabled]="todo.todoStatus"
              (click)="onChangeStatus(i)"
      >En cours
      </button>
      <button class="btn btn-success" [disabled]="!todo.todoStatus"
              (click)="onChangeStatus(i)"
      >Terminé
      </button>

      <!-- Action de modification -->
      <button class="btn btn-danger" (click)="onChangeIsModif(i)"
              *ngIf="!todo.isModif"
      >Modifier
      </button>
      <button class="btn btn-success" (click)="onChangeIsModif(i)"
              *ngIf="todo.isModif"
      >Modification terminée
      </button>
      <button class="btn btn-success mr-1" (click)="onView(i)"
      >En savoir plus
      </button>

      <input *ngIf="todo.isModif" class="form-control" [(ngModel)]="todo.todoName"/>
    </div>
  </li>
</ul>
